section.about
    .container
        .title.title-with-bottom-line 
            h2.title.title-header About us
            .title-text We are added our major Services

        .about-container 
                div.about-container-item
                    .icon.icon-like
                    h3.about-header Facebook Marketing
                    p.about-descripton Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed laudantium tenetur culpa suscipit quo officia obcaecati quaerat accusantium dolore placeat!

                div.about-container-item
                    .icon.icon-book
                    h3.about-header landing pages Creation
                    p.about-descripton Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed laudantium tenetur culpa suscipit quo officia obcaecati quaerat accusantium dolore placeat!

                div.about-container-item
                    .icon.icon-message
                    h3.about-header Ads management
                    p.about-descripton Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed laudantium tenetur culpa suscipit quo officia obcaecati quaerat accusantium dolore placeat!
        
                