section.approch
    .container
        .title.title-with-bottom-line 
            h2.title.title-header Our Approch
            .title-text Check Our approches step by step ( how we do it )

        ul.approch-list
            li.approch-item
                .approch-image
                    img.approch-picture(src="../images/step-1.jpg" alt="picture")
                    .approch-step step
                .approch-text
                    .approch-title Step 1 : Heading Here
                    p.approch-description.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita consequuntur officia deleniti perferendis 
                        dignissimos. Iste expedita ipsam sequi tenetur velit impedit exercitationem eos iusto quia, rerum eum fugit perferendis 
                        minus ipsa nesciunt quam officiis magni vitae, magnam atque accusamus.
            li.approch-item
                .approch-image
                    img.approch-picture(src="../images/step-2.jpg" alt="picture")
                    .approch-step step
                .approch-text
                    .approch-title Step 2 : Heading Here
                    p.approch-description.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita consequuntur officia deleniti perferendis 
                        dignissimos. Iste expedita ipsam sequi tenetur velit impedit exercitationem eos iusto quia, rerum eum fugit perferendis 
                        minus ipsa nesciunt quam officiis magni vitae, magnam atque accusamus.
            li.approch-item
                .approch-image
                    img.approch-picture(src="../images/step-3.jpg" alt="picture")
                    .approch-step step
                .approch-text
                    .approch-title Step 3 : Heading Here
                    p.approch-description.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita consequuntur officia deleniti perferendis 
                        dignissimos. Iste expedita ipsam sequi tenetur velit impedit exercitationem eos iusto quia, rerum eum fugit perferendis 
                        minus ipsa nesciunt quam officiis magni vitae, magnam atque accusamus.
            li.approch-item
                .approch-image
                    img.approch-picture(src="../images/step-4.jpg" alt="picture")
                    .approch-step step
                .approch-text
                    .approch-title Step 4 : Heading Here
                    p.approch-description.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis expedita consequuntur officia deleniti perferendis 
                        dignissimos. Iste expedita ipsam sequi tenetur velit impedit exercitationem eos iusto quia, rerum eum fugit perferendis 
                        minus ipsa nesciunt quam officiis magni vitae, magnam atque accusamus.
                    

                