.contacts
    a.contact(href="tel:+380639999999")
        .contact-icon.icon.icon-phone
        span.contact-text 6337 3128

    a.contact(href="mailto:info@business.com")
        .contact-icon.icon.icon-email
        span.contact-text info@business.com

    a.contact.contact-facebook(href="facebook.com")
        .icon.icon-facebook