section.form-section
    .container
        .title
            h2.title.title-header Get Your Free Facebook Analysits Now
            .title-text Enter your details below

        .btn-down
            a.arrow-down(href="#")
                .icon-small-angel-down

        .form-container 
            form.form(method="post" action="#")
                button.form-close-button(type="button") X
                .form-text.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat error deserunt autem nemo, aspernatur nesciunt cumque praesentium 
                    eveniet perspiciatis sed illum ad repellat quas accusantium libero saepe dignissimos. Perspiciatis, velit.

                .form-fields
                    input.form-input(type="text" placeholder="Your Name")
                    input.form-input(type="text" placeholder="Contact Number")
                    input.form-input(type="text" placeholder="Contact Name")

                button.button.button-red.button-text-uppercase(type="submit") Submit Now
