header.header
    .header-top
        .container
            include ./contact
            
    .container
        .header-bottom
            .logo: img.logo-picture(src="images/logo.png" alt="logo-picture")
            include ./nav
            a.button.header-button.button-red(href="#") Free Consulation