nav.nav
    - var items = ['Home', 'About us', 'Our Approch', 'Our Work']
    each item in items
        if item === 'Home'
            a.nav-link.nav-link-active(href="#")= item
        else
            a.nav-link(href="#")= item