.about {
    padding: 99px 0 105px 0;
    text-align: center;


    &-container {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            margin: 0px;
            padding: 0 50px;
            width: 33.3%;
        }

    }

    &-header {
        margin: 0 0 12px 0;
        font-size: 1.375rem;
        font-family: $ff-main-bold;
        color: #424242;
    }

    &-description {
        margin-top: 0;
        font-style: 0.825rem;
        line-height: 1.5;
        color: #5c5c5c;
    }
}