.icon-small {
    
    &-phone {
        @include fa($fa-mobile, black ,21px);
    }
    
    &-email {
        @include fa($fa-envelope-square, black ,17px);
    }
    
    &-facebook {
        @include fa($fa-facebook-square, #1287bf , 27px);
        border-radius: 3px;
    }

    &-angel-down {
        @include fa($fa-angle-down, #ffffff , 44px);
        border-radius: 3px;
    }

    &-facebook-official {
        @include fa($fa-facebook-official, #fff , 45px);
    }

    &-twitter {
        @include fa($fa-twitter, #fff , 45px);
    }

    &-google-plus {
        @include fa($fa-google-plus-square, #fff , 45px);
    }

    &-linkedin {
        @include fa($fa-linkedin, #fff , 45px);
    }
}

.icon {
    margin: auto auto 23px auto;

    &-like {
        @include sprite($like);
    }

    &-book {
        @include sprite($book);
    }

    &-message {
        @include sprite($message);
    }
}
